.card-title{
    max-width: 170px!important;
    text-align: center;
}
.card{
    max-width: 180px!important;
}
.card img{
    max-height: 220px;
}

.card:hover {
  transform: translate3D(0,-1px,0) scale(1.03);
}
.card {
  box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
  transition: all .5s ease; /* back to normal */
}

.card:hover {
  box-shadow: 8px 28px 50px rgba(39,44,49,.07), 1px 6px 12px rgba(39,44,49,.04);
  transition: all .4s ease; /* zoom in */
}